# Flutter/Dart
build/
.dart_tool/
.idea/
.vscode/
*.iml

# macOS
.DS_Store
**/.DS_Store

# Firebase
google-services.json
GoogleService-Info.plist

# Dependencies
pubspec.lock
ios/GoogleService-Info.plist
